.header{
    
}

.controls{
    margin-top:5px;
}

.page_header{
    text-align:center;
    font-family:Arial;
}

p{
    text-align:center;
    font-family:'Bookman Old Style';
}

canvas { 
    background: #eee; 
    display: block; 
    margin: 0 auto; 
}
